body, #boxes div { 
  display: -webkit-box; 
  display: -ms-flexbox; 
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; 
  -webkit-box-pack: center; 
      -ms-flex-pack: center; 
          justify-content: center;
}
body:after {
  z-index: -1;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  background: var(--bg-color, #f44336);
  opacity: .1;
}

#boxes{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

#boxes div{
  cursor: pointer;
  margin: .5em;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: calc(2px + .85vw) solid rgba(255, 255, 255, .5);
  background-color: var(--color,#aaa);
  transition: .5s all ease;
  opacity: .7;
  

  --dx: calc(var(--size) - var(--x));
  --dy: calc(var(--size) - var(--y));
}

#boxes div:first-child {
  --x: 84;
  --y: 75;
  --size: 128;
}
#boxes div:hover{
  transition:
  .5s background-color ease,
  .2s border ease;
  
  border-radius: 
    calc(var(--x) / var(--size) * 100%)
    calc(var(--dx) / var(--size) * 100%)
    calc(var(--dx) / var(--size) * 100%)
    calc(var(--x) / var(--size) * 100%) /
    calc(var(--y) / var(--size) * 100%)
    calc(var(--y) / var(--size) * 100%)
    calc(var(--dy) / var(--size) * 100%)
    calc(var(--dy) / var(--size) * 100%)
  ;
}