<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>纯CSS3实现7种扁平天气动画图标 - 【科e互联】</title>
<link href="css/style.css" rel="stylesheet" type="text/css">
</head>
<body class="keBody">
<h1 class="keTitle">纯CSS3实现7种扁平天气动画图标</h1>
<div class="kePublic">
<!--效果html开始-->
<div class="container">
	<div class="sunny"></div> 
	<div class="cloudy"></div>
	<div class="rainy"></div>
	<div class="snowy"></div>
	<div class="rainbow"></div>
	<div class="starry"></div>
	<div class="stormy"></div>
</div>
<!--效果html结束-->
<div class="clear"></div>
</div>

</body>
</html>